#content {
    max-width: 1600;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color : #341C1C;
    text-decoration: none;
}

.home title{
    color : #341C1C;
}

h4{
    color : #341C1C;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #89A894
}

nav a:hover{
    background-color: #89A894;
    color : #341C1C;
}

body{
    background-color: #F1F9F9;
}

header{
    background-color: #F1F9F9;
}

.book, .join{
    background-color: #F1F9F9;
    color : #341C1C;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #89A894;
    color : #341C1C;
}

.msg{
    background-color: #F1F9F9;
}

footer{
    background-color: #F1F9F9;
}

.msg h2{
    color : #341C1C;
}

.msg p{
    color : #341C1C;
}

footer{
    color : #341C1C;
}

footer a{
    color : #341C1C;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer a:hover{
    color : #341C1C;
    text-decoration: underline;
}

.icon{
    width: 80px;
}

#hero-img{
    width: 100%
}